<p> Добрый день <%= @petition.user.name %></p>
<p> Ваша петиция "<%= @petition.title %>" собрала <%= @petition.votes.count %> голосов, но не набрала 100 и поэтому не будет рассмотрена. </p>
<p> Попробуйте в следующий раз:=)</p>