<h2>Последние петиции</h2>

<table class="table">
  <thead>
  <tr>
    <th>Петиция</th>
    <th>Автор</th>
  </tr>
  </thead>
  <% @petition.each do |petition| %>
  <tr>
    <td><%= link_to petition.title, petition_path(petition) %></td>
    <td><%= petition.user.petition_name %></td>
  </tr>
  <% end %>
</table>